# Node.js dependencies
/node_modules
/.pnp
.pnp.js

# Environment files
.env*
  
# Testing coverage
/coverage

# Production build output
/build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE and editor-specific files
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Temporary files
*.log

# Package manager lock files (choose one based on your usage)
# If you're using npm, keep package-lock.json and ignore yarn.lock
package-lock.json

# If you're using Yarn, keep yarn.lock and ignore package-lock.json
# yarn.lock

# ESLint cache
.eslintcache

# Babel files
.babel.json

# Other temporary or configuration files
*.swp
*.swo
